{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Client{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center my-2">
        <div class="row ml-2" style="width: 70rem">
            <div class="col pl-0"><h2>Add a new Client:</h2></div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-2" >
        <form action="" method="post" class="form mx-2" role="form" style="width: 70rem">
            {{ form.csrf_token() }}
            <div class="row">
                <div class="form-group col-12">
                    {{ wtf.form_field(form.client_name, class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    {{ wtf.form_field(form.grant_types, class='form-control') }}
                </div>
                <div class="form-group col-6">
                    {{ wtf.form_field(form.response_types, class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    {{ wtf.form_field(form.client_uri, class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    {{ wtf.form_field(form.redirect_uris, class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    {{ wtf.form_field(form.scope, class='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    {{ wtf.form_field(form.token_endpoint_auth_method, class='form-control') }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary text-right">Create</button>
        </form>
    </div>
{% endblock %}