{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Crop Image{% endblock %}

{% block head %}
    {{ super() }}
    {{ avatars.jcrop_css() }}  <!-- include jcrop css -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2>Welcome to Guitar Ear</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-center align-items-center">
                <form method="post" role="form">
                {{ form.csrf_token() }}
                {{ form.hidden_tag() }}
                <div class="card" style="max-width: 50rem;">
                    <div class="d-flex justify-content-center">
                        {{ avatars.crop_box('avatar_raw', 'crop') }} <!-- crop window -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Crop your profile picture</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary">Crop!</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    {{ avatars.jcrop_js() }}  <!-- include jcrop javascript -->
    {{ avatars.init_jcrop() }}  <!-- init jcrop -->
{% endblock %}