{% extends "base.html" %}

{% block title %}Email is pending{% endblock %}

{% block content %}
    <div class="text-center pt-5">
        <h2>Check you email!</h2>
        <h3>You need to active this account before you can access.</h3>
        <h6>We send an e-mail at this account: {{ email }}</h6>
        <p>Would you like to resend it?

        </p>
        {% if post %}
            <p>Waiting confirm</p>
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        {% else %}
            <form action="" method="post">
                <button type="submit" class="btn btn-primary">CLICK HERE</button>
            </form>
        {% endif %}
        <p class="mt-2">Do you need to logout? <a href="{{ url_for('logout') }}">Click here.</a></p>
    </div>
{% endblock %}