{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="row d-flex justify-content-end my-2" style="width: 70rem">
            <div class="col-1 text-right font-weight-bold">
                <p class="mb-0 mt-2">Action:</p>
            </div>
            <div class="col-1 text-right">
                <a class="btn btn-primary" href="{{ url_for('logout') }}" role="button">Logout</a>
            </div>
        </div>
    </div>
    <div class="row h-100 d-flex justify-content-center">
        <div class="card text-center" style="width: 70rem">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if user %} active {% endif %}" href="{{ url_for('home') }}">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if security %} active {% endif %}"
                           href="{{ url_for('security') }}">Security</a>
                    </li>
                    {% if role %}
                        <li class="nav-item">
                            <a class="nav-link {% if admin %} active {% endif %}"
                               href="{{ url_for('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-body">
                {% if user %}
                    <h5 class="card-title">General Info</h5>
                    <div class="row">
                        <div class="col">
                            <h5>Username:</h5>
                        </div>
                        <div class="col">
                            <h6>{{ user.username }}</h6>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <h5 class="text-center">Generalities</h5>
                    <div class="row mt-3">
                        <div class="col">
                            <h6>First Name:</h6>
                        </div>
                        <div class="col">
                            <h6>{{ user.first_name }}</h6>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <h6>Middle Name:</h6>
                        </div>
                        <div class="col">
                            <h6>{{ user.middle_name }}</h6>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <h6>Last Name:</h6>
                        </div>
                        <div class="col">
                            <h6>{{ user.last_name }}</h6>
                        </div>
                    </div>
                {% elif security %}
                    <h5 class="card-title">Security Info</h5>
                    <p class="card-text">Updating this field will require to reconfirm the account</p>
                    <div class="row">
                        <div class="col">
                            <h5>Email:</h5>
                        </div>
                        <div class="col">
                            <h6>{{ security.email }}</h6>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <h5>Password:</h5>
                        </div>
                        <div class="col">
                            <h6>******</h6>
                        </div>
                    </div>
                    {{ role }}
                {% elif role %}
                    <div class="row d-flex justify-content-end">
                        <div class="col-7">
                            <form class="row justify-content-end" action="{{ url_for('delete-client') }}" method="post">
                                <div class="form-group col-5 text-right">
                                    <input type="number" name="id" class="form-control" placeholder="ID">
                                </div>
                                <div class="col-1 text-right pl-0">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-2 text-right mr-3">
                            <a class="btn btn-success " href="{{ url_for('new-client') }}" role="button">Create
                                client</a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        {% for cli in admin %}
                            <div class="card mt-2" style="width: 65.5rem;">
                                <div class="card-body">
                                    <p class="text-left">ID: {{ cli.id }}</p>
                                    <h5 class="card-title">{{ cli.client_metadata['client_name'] }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Created: {{ time(cli.client_info['client_id_issued_at']) }}
                                        <br>
                                        <br>
                                        {% if cli.client_info['client_secret_expires_at'] ==  0 %}
                                            Expire: Never
                                        {% else %}
                                            Expire: {{ time(cli.client_info['client_secret_expires_at']) }}
                                        {% endif %}
                                    </h6>

                                    <div class="row text-left">
                                        <div class="form-group col">
                                            <label for="disabledTextInput1">Client id:</label>
                                            <input
                                                    type="text"
                                                    id="disabledTextInput1"
                                                    class="form-control"
                                                    readonly
                                                    value="{{ cli.client_info['client_secret'] }}"
                                            >
                                        </div>
                                        <div class="form-group col">
                                            <label for="disabledTextInput2">Client secret:</label>
                                            <input
                                                    type="text"
                                                    id="disabledTextInput2"
                                                    class="form-control"
                                                    readonly
                                                    value="{{ cli.client_info['client_secret'] }}"
                                            >
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="form-group col">
                                            <label for="disabledTextInput3">Client URI:</label>
                                            <input
                                                    type="text"
                                                    id="disabledTextInput3"
                                                    class="form-control"
                                                    readonly
                                                    value="{{ cli.client_metadata['client_uri'] }}"
                                            >
                                        </div>
                                    </div>
                                    <div class="card bg-light mb-3">
                                        <div class="card-header font-weight-bold">Redirect URIs</div>
                                        <div class="card-body">
                                            {% for foo in cli.client_metadata['redirect_uris'] %}
                                                <p class="card-text">{{ foo }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-left">
                                        <div class="col">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header font-weight-bold">Grant types:</div>
                                                <div class="card-body">
                                                    {% for foo in cli.client_metadata['grant_types'] %}
                                                        <p class="card-text">{{ foo }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header font-weight-bold">Response types:</div>
                                                <div class="card-body">
                                                    {% for foo in cli.client_metadata['response_types'] %}
                                                        <p class="card-text">{{ foo }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header font-weight-bold">Scope:</div>
                                                <div class="card-body">
                                                    <p class="card-text">{{ cli.client_metadata['scope'] }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card bg-light mb-3">
                                                <div class="card-header font-weight-bold">Token endpoint auth method:
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">{{ cli.client_metadata['token_endpoint_auth_method'] }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}