{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .cm-ver-alg {
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 27rem;">
            <img src="{{ url_for('static', filename='default_login_icon.svg') }}"
                 class="card-img-top mx-auto d-block md-2 mt-3"
                 style="width: 10rem;" alt="Login icon">
            <div class="card-body">
                <h5 class="card-title">Login with <span class="font-weight-bold">Guitar Ear</span></h5>
                <form action="" method="post" role="form">
                    {{ form.csrf_token() }}
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.email, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.password, class='form-control') }}
                        </div>
                    </div>
                    {% if error %}
                        <p class="text-center text-danger my-2">{{ error }}</p>
                    {% endif %}
                    <div class="row justify-content-end">
                        <div class="col-4 text-right cm-ver-alg">
                            <a href="{{ url_for('register') }}">Register</a>
                        </div>
                        <div class="col-3 text-right">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </form>
                <div class="dropdown-divider"></div>
                <div class="card-body">
                    <a href="{{ url_for('google-login') }}">
                        <img
                                src="{{ url_for('static', filename='btn_google_signin_dark_normal_web@2x.png') }}"
                                alt="Sign in with Google"
                                class="mx-auto d-block"
                                style="height: 4rem"
                        >
                    </a>
                </div>
                {% if user %}
                    <div class="dropdown-divider"></div>
                    <p class="my-2">Continue with:</p>
                    <a href="{{ url_for('rapid-login') }}">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title badge badge-primary">{{ user.username }}</h6>
                                <div class="row">
                                    <div class="col-2">
                                        {% if user.photo_id %}
                                            <img
                                                    src="{{ url_for('avatar_img', img_id=user.photo_id) }}"
                                                    class=""
                                                    style="max-width: 3rem; border-radius: 50%;"
                                                    alt="Avatar"
                                            >
                                        {% endif %}
                                    </div>
                                    <div class="col align-self-center text-center">
                                        <p class="card-text ">{{ user.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}