{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .cm-ver-alg {
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center my-5">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Register an account with <span class="font-weight-bold">Guitar Ear</span></h5>
                <form action="" method="post" role="form" enctype="multipart/form-data">
                    {{ form.csrf_token() }}
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.email, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.password, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.confirm, class='form-control') }}
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.username, class='form-control') }}
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.first_name, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.middle_name, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.last_name, class='form-control') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ wtf.form_field(form.photo, class='form-control') }}
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="form-group col-12 mt-3">
                            {{ wtf.form_field(form.accept_tos, class='form-control') }}
                        </div>
                    </div>
                    {% if error %}
                        <p class="text-center text-danger mb-4">{{ error }}</p>
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col text-center cm-ver-alg">
                            <a href="{{ url_for('login') }}">Login Here</a>
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}