{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        pre {
            white-space: wrap;
        }

        .cm-center {
            height: 100vh;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    {% if user %}
        <div>Logged in as <strong>{{ user }}</strong> (<a href="{{ url_for('.logout') }}">Log Out</a>)</div>

        {% for client in clients %}
            <pre> {{ client.client_info|tojson }} <br> {{ client.client_metadata|tojson }} </pre>
            <hr>
        {% endfor %}

        <br><a href="{{ url_for('.create_client') }}">Create Client</a>

    {% else %}

        <div class="container cm-center d-flex justify-content-around">
            <div class="row h-100 w-50 align-items-center">
                <div class="col p-3 border rounded border-primary">
                    <h4 class="text-center">Guitar Ear</h4>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" name="submit" value="login" class="btn btn-primary text-right ml-2">
                                Login
                            </button>
                            <button type="submit" name="submit" value="register" class="btn btn-outline-primary">
                                Register
                            </button>
                        </div>
                        {% if error %}
                            <p class="text-center text-danger my-2">{{ error }}</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
